@media only screen and (min-width: 17.5rem /*280px*/) {
    .title_underline {
        display: block;
    }
    .company_in_numbers_title_underline {
        display: block;
    }
}

@media only screen and (min-width: 48rem /*768px*/) {
/*NAVIGACIJSKI MENI*/
    .top_contacts_container {
        display: flex;
        align-items: center;
        justify-content: center;
        float: unset;
    }
    .mail_div {
        margin-right: 0.5rem;
    }
    .mail_div a, .phone_div a {
        font-size: 1rem;
    }
    .logo_div img {
        height: 2.2rem;
    }
    .menu_icon {
        right: 10%;
    }

/*ZAČETNA STRAN POD MENIJEM*/
    .home_title {
        flex-direction: row;
    }
    .static_text {
        height: 4rem;
        line-height: 4rem;
        font-size: 4rem;
    }
    .dynamic_text {
        height: 4rem;
        line-height: 4rem;
        font-size: 4rem;
        margin-left: 0.5rem;
    }
    .home_text {
        padding: 1rem 8rem;
    }
    .employees_contact_buttons_div {
        flex-direction: row-reverse;
    }
    .employees_button_div {
        margin: 0 0 0 0.5rem;
    }
    .contact_button_div {
        margin: 0 0.5rem 0 0;
    }
    .employees_button {
        margin: 0;
        padding: 0.5rem 1.5rem;
        font-size: 1.25rem;
    }
    .contact_button {
        padding: 0.5rem 1.5rem;
        font-size: 1.25rem;
    }

/*KDO SMO*/
    .predstavitev, .teambuilding {
        flex-direction: row;
    }
    .konjenistvo {
        flex-direction: row-reverse;
    }
    .predstavitev_text_div, .teambuilding_text_div {
        margin-right: 1rem;
    }
    .predstavitev_img_div, .teambuilding_img_div {
        margin-left: 1rem;
    }
    .konjenistvo_text_div {
        margin-left: 1rem;
    }
    .konjenistvo_img_div {
        margin-right: 1rem;
    }
    .predstavitev_text, .konjenistvo_text, .teambuilding_text {
        font-size: 0.925rem;
    }

/*KAJ NUDIMO*/
    .services_div {
        grid-template-areas:
            "svetovanje izdelek"
            "rezkanje zaganje";
        grid-template-columns: 50% 50%;
    }

/*STROJNA OPREMA*/
    .machinery_div {
        column-gap: 2rem;
    }
    .machine_title {
        font-size: 1.25rem;
        font-weight: 400;
    }
    .machine_div_1, .machine_div_2, .machine_div_3, .machine_div_4, .machine_div_5 {
        width: calc(50% - 1rem);
    }
    .machine_info {
        font-weight: 300;
    }

/*GALERIJA*/
    .gallery_item {
        width: calc(25% - 0.2rem);
        height: 7.5rem;
    }

/*ZANIMIVOSTI V ŠTEVILKAH*/
    .company_in_numbers {
        width: 75%;
    }
    .company_in_numbers_title {
        font-size: 1.5rem;
    }
    .company_in_numbers_title_underline {
        width: 18.75rem;
    }
    .company_in_numbers_div {
        height: 11rem;
        margin-top: 2.5rem;
    }
    .company_picture {
        font-size: 3rem;
    }
    .company_number {
        font-size: 2rem;
    }
    .company_content {
        font-size: 1rem;
    }
    .company_in_numbers_bottom {
        height: 1rem;
    }

/*KONTAKT*/
    .send_message_div {
        width: 75%;
    }
    .company_information_div {
        width: 75%;
    }
    .company_information_boniteta {
        width: 80%;
    }
    #contact_message {
        min-height: 20rem;
    }
    #map {
        height: 20rem;
    }
}

@media only screen and (min-width: 64rem /*1024*/) {
/*NAVIGACIJSKI MENI*/
    .top_contacts_div {
        height: 25%;
    }
    .navbar {
        height: 75%;
    }
    .logo_div img {
        height: 2.5rem;
    }
    .menu {
        width: auto;
        height: auto;
        position: unset;
        transition: none;
        margin-right: 7.5%;
    }
    .menu_icon {
        display: none;
    }
    .menu ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu ul li, .menu ul li:nth-child(5) {
        border: none;
    }
    .nav_button, .nav_contact_button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 1.25rem;
        transition: all 0.3s ease 0s;
    }
    .nav_button {
        color: rgb(100, 100, 100);
        background: transparent;
    }
    .nav_contact_button {
        color: rgb(255, 255, 255);
        background-color: rgba(245, 130, 30, 1);
    }
    .nav_button:hover, .nav_contact_button:hover {
        cursor: pointer;
    }
    .nav_button:hover {
        color: rgb(245, 130, 30);
    }
    .nav_contact_button:hover {
        color: rgb(255, 255, 255);
        background-color: rgba(245, 130, 30, 0.8);
    }

/*ZAČETNA STRAN POD MENIJEM*/
    .static_text {
        height: 5rem;
        line-height: 5rem;
        font-size: 5rem;
    }
    .dynamic_text {
        height: 5rem;
        line-height: 5rem;
        font-size: 5rem;
    }
    .home_text {
        font-size: 1.5rem;
        padding: 1rem 15rem;
    }

/*KDO SMO*/
    .about_div {
        width: 75%;
    }

/*KAJ NUDIMO*/
    .services_div {
        grid-template-areas:
            "svetovanje izdelek rezkanje zaganje";
        grid-template-columns: 25% 25% 25% 25%;
    }

/*STROJNA OPREMA*/
    .machinery_div {
        width: 65%;
    }

/*GALERIJA*/
    .gallery_item {
        width: calc(20% - 0.2rem);
    }

/*ZANIMIVOSTI V ŠTEVILKAH*/
    .company_in_numbers_div {
        height: 15rem;
        margin-top: 3.5rem;
    }
    .company_picture {
        font-size: 3.5rem;
    }
    .company_number {
        font-size: 3rem;
    }
    .company_content {
        font-size: 1.5rem;
    }
    .company_in_numbers_bottom {
        height: 1rem;
    }

/*ZAPOSLENI*/
    .employees_div {
        width: 75%;
        flex-direction: row;
        align-items: baseline;
    }
    .employee_person_div {
        width: 33.33%;
    }

/*KONTAKT*/
    .contact_div {
        flex-direction: row;
        align-items: baseline;
    }
    .send_message_div {
        width: 100%;
        padding: 0 2rem 0 5rem;
        align-items: baseline;
    }
    .company_information_div {
        width: 100%;
        padding: 0 5rem 0 2rem;
        align-items: baseline;
    }
    .company_information_boniteta {
        width: 100%;
    }
    
}

@media only screen and (min-width: 90rem /*1440px*/) {
/*NAVIGACIJSKI MENI*/  
    .mail_div a, .phone_div a {
        font-size: 1.1rem;
    }

/*ZAČETNA STRAN POD MENIJEM*/
    .home_text {
        padding: 1rem 20rem;
    }

/*KDO SMO*/
    .about_div {
        width: 50%;
    }

/*KAJ NUDIMO*/
    .services_div {
        width: 75%;
    }

/*STROJNA OPREMA*/
    .machinery_div {
        width: 75%;
    }
    .machine_div_1, .machine_div_2, .machine_div_3 {
        width: calc(33.33% - 2rem);
    }
    .machine_div_4, .machine_div_5 {
        width: calc(33.33% - 2rem);
    }

/*GALERIJA*/
    .gallery_item {
        width: calc(16.66% - 0.2rem);
        height: 10rem;
    }
/*ZANIMIVOSTI V ŠTEVILKAH*/
    .company_in_numbers {
        width: 50%;
    }
    .company_in_numbers_div {
        height: 16rem;
        margin-top: 4rem;
    }
    .company_in_numbers_bottom {
        height: 1.5rem;
    }

/*ZAPOSLENI*/
    .employees_div {
        width: 45%;
    }
/*KONTAKT*/
    .send_message_div {
        padding: 0 2% 0 20%;
    }
    .company_information_div {
        padding: 0 20% 0 2%;
    }
    .company_information_title {
        font-size: 1rem;
    }
    .company_information_text {
        font-size: 1rem;
    }
}

